.root {
    -fx-background-color: #fdfdfd;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.button {
    -fx-background-color: #55bfcb;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #45a049;
}

.combo-box, .date-picker, .spinner {
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
}
